<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/Chatcontainer.css">
    <title>Document</title>
</head>
<body>
    <div class = 'ChatContainer'>
        <div class = 'chat'>
            <div class = 'chatbox'></div>
            <div class = 'footer'>
                <textarea></textarea>
                <button>Send</button>
            </div>
        </div>
        <%- include('_sidebar.ejs', {id: locals.id}) %>
    </div>
</body>
</html>