<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Dashboardstyle.css">
    <title>Document</title>
</head>
<body>
    <div class="DashboardContainer">
        <div class = 'Content-table'>
            <div class = 'StartPage'>
                <div id="stricker" class = 'stricker'>

                </div>
            
                <div class = 'midfield'>

                </div>
            
                <div class = 'defence'>

                </div>
            
                <div class = 'goalkeeper'>

                </div>
            </div>
        </div>
        <%- include('_sidebar.ejs', {id: locals.id}) %> 
    </div>
</body>
</html>

