<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/Openpacks.css">
    <title>Document</title>
</head>
<body>
    <div class="OpenpacksContainer">
        <div class = "ContainerBody">
            <div id = "CardsOutOfPacks" class = 'CardsOutOfPacks'> 
                <%- include("_cards.ejs", {height: "320px", width: "200px", token: locals.AUTHTOKEN, Card: {Stats: []}, id: locals.param }) %> 
            </div>
            <div onclick="OpenPack()" class = "packs"></div>
        </div>
        <%- include('_sidebar.ejs', {id: locals.id}) %>
    </div>
</body>
</html>