<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/Teammanagment.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="TeamManagmentContainer">
        <div class = "EditableTeam">
            <div class = 'stricker cardrow'>
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
              </div>
          
              <div class = 'midfield cardrow'>
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
              </div>
          
              <div class = 'defence cardrow'>
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
              </div>
          
              <div class = 'goalkeeper cardrow'>
                <img class="pictures" src="/pictures/Card.png">
              </div>
          </div>
          <div class = 'bench'>
            <% FifaUser.cards.forEach((Card, Index) => { %>
              <%-include('_cards.ejs', {height: '100px', width: '70px', Card: Card, CardArray: FifaUser.cards})%>
            <% }) %>
          </div>
          <div class = 'SaveandReturn'>
            <a href="/<%=id%>">Return</a>
            <a href="/<%=id%>" onclick="SaveTeaminDatabase()">Save</a>
          </div>
     </div>
    </div>
</body>
<script>
  const bench = document.querySelector('.bench')
  let PulledPlayers = bench.querySelectorAll('.CardContainer')
  const EmptyCards = document.querySelectorAll('.pictures')
  const cardrow = document.querySelectorAll('.cardrow')

  PulledPlayers.forEach((PulledPlayer, index, myArray) => {
    PulledPlayer.addEventListener('click', PickPulledPlayer)
     function PickPulledPlayer() {
      EmptyCards.forEach((EmptyCard, Index) => {
        EmptyCard.addEventListener('click', SelectEmptyCard)
         function SelectEmptyCard(){
          EmptyCard.replaceWith(PulledPlayer)
          PulledPlayers = bench.querySelectorAll('.CardContainer')
          const clonedNode = myArray.item(index).cloneNode(true)
          PulledPlayer.replaceWith(clonedNode)
        }
        setTimeout(() => EmptyCard.removeEventListener('click', SelectEmptyCard),650)
      })
    }
  })


  function SaveTeaminDatabase(){
    const Goalkeeper = {PlayerName: cardrow.item(3).children.item(0).querySelector('.PlayerName').textContent}
    const LeftBack = {PlayerName: cardrow.item(2).children.item(0).querySelector('.PlayerName').textContent}
    const CenterBack1 = {PlayerName: cardrow.item(2).children.item(1).querySelector('.PlayerName').textContent}
    const CenterBack2 = {PlayerName: cardrow.item(2).children.item(2).querySelector('.PlayerName').textContent}
    const RightBack = {PlayerName: cardrow.item(2).children.item(0).querySelector('.PlayerName').textContent}
    const center1 = {PlayerName: cardrow.item(1).children.item(0).querySelector('.PlayerName').textContent}
    const center2 = {PlayerName: cardrow.item(1).children.item(1).querySelector('.PlayerName').textContent}
    const center3 = {PlayerName: cardrow.item(1).children.item(2).querySelector('.PlayerName').textContent}
    const LeftWinger = {PlayerName: cardrow.item(0).children.item(0).querySelector('.PlayerName').textContent}
    const Striker = {PlayerName: cardrow.item(0).children.item(1).querySelector('.PlayerName').textContent}
    const RightWinger = {PlayerName: cardrow.item(0).children.item(2).querySelector('.PlayerName').textContent}
    
    axios.post('/<%= locals.id %>/savedteam', {
        Goalkeeper: Goalkeeper,
        Defender: [LeftBack, CenterBack1, CenterBack2, RightBack],
        Center: [center1, center2, center3],
        Forward: [LeftWinger, Striker, RightWinger]
    })
  }

</script>
</html>