<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Teammanagment.css">
    <title>Document</title>
</head>
<body>
    <div class="TeamManagmentContainer">
        <div class = "EditableTeam">
            <div class = 'stricker'>
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
              </div>
          
              <div class = 'midfield'>
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
              </div>
          
              <div class = 'defence'>
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
                <img class="pictures" src="/pictures/Card.png">
              </div>
          
              <div class = 'goalkeeper'>
                <img class="pictures" src="/pictures/Card.png">
              </div>
          </div>
          <div class = 'bench'>
            <% FifaUser.cards.forEach((Card, Index) => { %>
              <%-include('_cards.ejs', {height: '100px', width: '70px', token: locals, Card: Card, CardArray: FifaUser.cards})%>
            <% }) %>
          </div>
          <div class = 'SaveandReturn'>
            <a href="/<%=id%>">Return</a>
            <a href="">Save</a>
          </div>
     </div>
    </div>
</body>
<script>
  const EmptyCards = document.querySelectorAll('.pictures')
  EmptyCards.forEach((items) => {
    items.addEventListener('click', () => {
      console.log(items)
    })
  })
</script>
</html>