body{
    margin: 0;
    padding: 0;
    background-image: url('./pictures/Background.jpg');
    background-repeat: no-repeat;
    background-size: auto 120%;
    user-select: none;
    font-family: Arial;
}

.DashboardContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}