body{
    margin: 0;
    padding: 0;
    background-image: url('./pictures/Background.jpg');
    background-repeat: no-repeat;
    background-size: auto 120%;
    user-select: none;
}

.OpenpacksContainer {
    height: 100vh;
}

.ContainerBody{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CardsOutOfPacks {
    display: none;
}

.card {
    transform: translate(0%,0%);
    transition: ease-in-out 2s;
}

.cardanimtaion{
    transform: translate(0%,110%);
}